<div class="input-wrap">
    <input type="text" [(ngModel)]="name" placeholder="search phones" name="search">
    <input type="submit" value="search">
</div>
<div class="btn-wrap">
    <button class="btn-add-phone">Add phone</button>
    <button class="btn-clear">Clear result</button>
</div>


<button>Material Button</button>
<div class="result-wrap">
    {{name}}
</div>

<nb-flip-card>
    <nb-card-front>
      <nb-card accent="danger">
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen,
          helium and other ionized gases.
          Originally, nebula was a name for
          any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen,
          helium and other ionized gases.
          Originally, nebula was a name for
          any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>