<div class="input-wrap">
    <input type="text" [(ngModel)]="name" placeholder="search phones" name="search">
    <input type="submit" value="search">
</div>
<div class="btn-wrap">
    <button class="btn-add-phone">Add phone</button>
    <button class="btn-clear">Clear result</button>
</div>


<mat-toolbar>  
        <mat-toolbar-row>
          <span>First Row</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Second Row</span>
        </mat-toolbar-row>
      </mat-toolbar>
<div class="result-wrap">
    {{name}}
</div>